<mat-card *ngIf="rides.length === 0">
    <mat-card-content>
        No rides found.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="rides.length != 0">
    <mat-card-content>
        Rides where you are a driver
    </mat-card-content>
</mat-card>

<mat-card *ngFor="let ride of rides">
    <mat-card-content>
        <div class="grid-container">
            <div class="grid-item-label">Start Date:</div>
            <div class="grid-item date">{{ride.earliestDepartureTime | date:'dd/MM/yyyy, h:mm a'}}</div>

            <div class="grid-item-label">Start Address:</div>
            <div class="grid-item address">{{ride.startAddress.street.city.cityName}}</div>

            <div class="grid-item-label">Details:</div>
            <button mat-button (click)="navigateToDetailsPage()">Go to Details</button>

            <div class="grid-item-label">Destination Date:</div>
            <div class="grid-item date">{{ride.earliestDepartureTime | date:'dd/MM/yyyy, h:mm a'}}</div>

            <div class="grid-item-label">Destination Address:</div>
            <div class="grid-item address">{{ride.destinationAddress.street.city.cityName}}</div>

            <div class="grid-item-label">Price:</div>
            <div class="grid-item price">{{ride.pricePerPerson}}</div>

            <div class="grid-item-label">Profile:</div>
            <div class="grid-item profile-pic"><img [src]="ride.driver.profilePicture" alt="Profile Picture"></div>

            <div class="grid-item-label">Name:</div>
            <div class="grid-item name">{{ride.driver.name}}</div>

            <div class="grid-item-label">Surname:</div>
            <div class="grid-item surname">{{ride.driver.surname}}</div>
        </div>
    </mat-card-content>

</mat-card>

<!-- Display a card when there are passenger rides -->
<mat-card *ngIf="ridesPassangers.length != 0">
    <mat-card-content>
        Ride where you are a passenger
    </mat-card-content>
</mat-card>

<!-- Loop through the array of passenger rides -->
<mat-card *ngFor="let userRide of ridesPassangers">
    <mat-card-content>
        <!-- Display departure information -->
        <div class="ridesPassanger-detail">
            <h3><strong>Departure Date:</strong></h3>
            <p>{{ userRide.ride.earliestDepartureTime }}
                - {{ userRide.ride.latestDepartureTime }}</p>
        </div>
        <div class="ridesPassanger-detail">
            <h3><strong>Departure Time:</strong></h3>
            <p>{{ userRide.ride.earliestDepartureTime }}
                - {{ userRide.ride.latestDepartureTime }}</p>
        </div>
        <!-- Display other ride information (this would need to be calculated on the component side) -->
        <div class="ridesPassanger-detail">
            <h3><strong>Ride Duration:</strong></h3>
            <p>Ride will take: {{ userRide.ride.duration }}</p>
        </div>
        <!-- Display passenger and driver information -->
        <h4><strong>Driver:</strong></h4>
        <div class="user-detail">
            <p>{{ userRide.user.name }} {{ userRide.user.surname }}</p>
        </div>
        <!-- You can add other sections based on the userRide object structure -->
    </mat-card-content>
</mat-card>

