@import "~@angular/material/prebuilt-themes/purple-green.css";
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.flex-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-1 {
  padding: 1rem;
}

.flex-center-column-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
