@import "./styles/buttons";
@import "./styles/containers";
@import "./styles/forms";
@import "./styles/variables";

* {
  font-size: $base-font-size;
  font-family: "Roboto", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: $primary;
  color: $secoundary;
}
