<mat-card class="flex-center-container">
  <h1>About us</h1>
  <p class="description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
    reprehenderit temporibus quam beatae eos, deserunt reiciendis illum optio
    dolorem earum atque iusto natus impedit qui neque quo unde at similique!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
    reprehenderit temporibus quam beatae eos, deserunt reiciendis illum optio
    dolorem earum atque iusto natus impedit qui neque quo unde at similique!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
    reprehenderit temporibus quam beatae eos, deserunt reiciendis illum optio
    dolorem earum atque iusto natus impedit qui neque quo unde at similique!
  </p>
</mat-card>
