@import "./variables";

.btn {
  border-radius: $border-radius;
  padding: $base-padding;
  width: $base-width * 6;
}

.btn:hover {
  cursor: pointer;
  transition: background-color $transition-duration $transition-easing;
  background-color: $hover-color;
}

.btn-primary {
  color: $primary;
  background-color: $secoundary;
}
