<nav class="navbar">
  <div class="navbar-brand">
    <a href="/">Social System For Organizing Rides</a>
  </div>

  <div class="navbar-content">
    <div class="navbar-item">
      <a class="navbar-link" href="/serach">Search</a>
    </div>

    <div class="navbar-item">
      <a class="navbar-link" href="/createRoute">Create Ride</a>
    </div>
    <div class="navbar-item">
      <a class="navbar-link" href="yourRides">Your Rides</a>
    </div>
    <div class="navbar-item">
      <a class="navbar-link" href="messages">Messages</a>
    </div>
    <div class="navbar-item">
      <a class="navbar-link" href="profile">Profile</a>
    </div>
    <div class="navbar-item">
      <a class="navbar-link" href="/login">Login</a>
    </div>
    <div class="navbar-item">
      <a class="navbar-link" href="/register">Register</a>
    </div>
  </div>
</nav>
