<nav class="navbar">
  <div class="navbar-brand">
    <a class="a-primary" href="/">Social System For Organizing Rides</a>
  </div>

  <div class="navbar-content">
    <div class="navbar-item">
      <a class="a-primary" href="/search">Search</a>
    </div>

    <div class="navbar-item">
      <a class="a-primary" href="/createRide">Create Ride</a>
    </div>
    <div class="navbar-item">
      <a class="a-primary" href="yourRides">Your Rides</a>
    </div>
    <div class="navbar-item">
      <a class="a-primary" href="messages">Messages</a>
    </div>
    <div class="navbar-item">
      <a class="a-primary" href="profile">Profile</a>
    </div>
    <div class="navbar-item">
      <a class="a-primary" href="/login">Login</a>
    </div>
    <div class="navbar-item">
      <a class="a-primary" href="/register">Register</a>
    </div>
  </div>
</nav>
