@import "../../variables";

.navbar {
  width: 100%;
  border-bottom: 1px solid $secoundary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $base-padding 0 $base-padding 0;

  a {
    margin: $base-margin * 2;
    color: $secoundary;
    text-decoration: none;
  }

  a:hover {
    transition: color $transition-duration $transition-easing;
    color: $hover-color;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: $base-padding;
  }
}
