<nav class="navbar">
  <div class="navbar-brand">
    <a href="#">Social System For Organizing Rides</a>
  </div>

  <div class="navbar-content">
    <div class="navbar-item">
      <a class="navbar-link" href="#">Search</a>
    </div>

    <div class="navbar-item">
      <a class="navbar-link" href="#">Create Ride</a>
    </div>
    <div class="navbar-item">
      <a class="navbar-link" href="#">Your Rides</a>
    </div>
    <div class="navbar-item">
      <a class="navbar-link" href="#">Messages</a>
    </div>
    <div class="navbar-item">
      <a class="navbar-link" href="#">Profile</a>
    </div>
    <div class="navbar-item">
      <a class="navbar-link" href="#">Logout</a>
    </div>
  </div>
</nav>
