@import "../../styles/variables";

.navbar {
  width: 100%;
  border-bottom: 1px solid $secoundary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $base-padding 0 $base-padding 0;

  &-content {
    display: flex;
    justify-content: space-between;
    padding: $base-padding;
  }
}
