<div class="flex-center-column-container">
  <input
    class="ipt"
    type="text"
    [(ngModel)]="login"
    placeholder="Login"
    required
  />
  <input
    class="ipt"
    type="text"
    [(ngModel)]="name"
    placeholder="Name"
    required
  />
  <input
    class="ipt"
    type="text"
    [(ngModel)]="surename"
    placeholder="Surename"
    required
  />
  <input
    class="ipt"
    type="text"
    [(ngModel)]="phone_number"
    placeholder="Phone Number"
    required
  />
  <input
    class="ipt"
    type="password"
    [(ngModel)]="password"
    placeholder="Password"
    required
  />

  <button class="btn primary" type="submit" (click)="handleRegister()">
    Register
  </button>
</div>
