<div class="flex-center-container">
  <div class="flex-center-column-container p-1">
    <h2>Driver Rating: 4</h2>
    <mat-form-field>
      <input matInput type="text" placeholder="John" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Smith" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="123456789" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="johnsmith@gmail.com" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Save Changes
    </button>
  </div>
  <div class="flex-center-column-container p-1">
    <h2>Profile Icon</h2>
    <mat-form-field>
      <textarea
        style="resize: none"
        matInput
        placeholder="Preferences"
        cols="30"
        rows="14"
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Change Password
    </button>
  </div>
</div>
