<div class="flex-center-container">
  <div class="flex-center-column-container">
    Driver Rating 4
    <input class="ipt" type="text" placeholder="John" />
    <input class="ipt" type="text" placeholder="Smith" />
    <input class="ipt" type="text" placeholder="123456789" />
    <input class="ipt" type="email" placeholder="jognsmith@gmail.com" />
    <input class="ipt" type="password" placeholder="Password" />
    <button class="btn primary" type="submit">Save Changes</button>
  </div>
  <div class="flex-center-column-container">
    Profile Icon
    <textarea
      class="ipt"
      placeholder="Preferences"
      cols="30"
      rows="14"
    ></textarea>
    <button class="btn primary" type="submit">Change Password</button>
  </div>
</div>
