<body>
  <div class="bg-green-light-9 text-blue-dark-9">123456789</div>
  <div class="bg-green-light-8 text-blue-dark-8">123456789</div>
  <div class="bg-green-light-7 text-blue-dark-7">123456789</div>
  <div class="bg-green-light-6 text-blue-dark-6">123456789</div>
  <div class="bg-green-light-5 text-blue-dark-5">123456789</div>
  <div class="bg-green-light-4 text-blue-dark-4">123456789</div>
  <div class="bg-green-light-3 text-blue-dark-3">123456789</div>
  <div class="bg-green-light-2 text-blue-dark-2">123456789</div>
  <div class="bg-green-light-1 text-blue-dark-1">123456789</div>
  <div class="bg-green text-blue">123456123</div>
  <div class="bg-green-dark-1 text-blue-light-1">123567689</div>
  <div class="bg-green-dark-2 text-blue-light-2">123567689</div>
  <div class="bg-green-dark-3 text-blue-light-3">123567689</div>
  <div class="bg-green-dark-4 text-blue-light-4">123567689</div>
  <div class="bg-green-dark-5 text-blue-light-5">123567689</div>
  <div class="bg-green-dark-6 text-blue-light-6">123567689</div>
  <div class="bg-green-dark-7 text-blue-light-7">123567689</div>
  <div class="bg-green-dark-8 text-blue-light-8">123567689</div>
  <div class="bg-green-dark-9 text-blue-light-9">123567789</div>
  <div class="card">
    <div class="card-title">WUS</div>
    <div class="card-body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus,
      consequatur.
    </div>
    <button href="#" class="btn-outlined-secondary text-secondary">
      Jazda
    </button>
    <button href="#" class="btn-primary text-white">Lepiej nie</button>
  </div>
  <div class="card">
    <div class="card-title">ALBO</div>
    <div class="card-body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus,
      consequatur.
    </div>
    <button href="#" class="btn-outlined-gray">Jazda</button>
    <button href="#" class="btn-primary">Lepiej nie</button>
  </div>
  <div class="card">
    <div class="card-title">PRZEWUS</div>
    <div class="card-body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus,
      consequatur.
    </div>
    <button href="#" class="btn-primary">Jazda</button>
    <button href="#" class="btn-primary">Lepiej nie</button>
  </div>
</body>
