<body>
  <div class="bg-green-light-7 text-blue-dark-7">123456789</div>
  <div class="bg-green-light-5 text-blue-dark-5">123456789</div>
  <div class="bg-green-light-3 text-blue-dark-3">123456789</div>
  <div class="bg-green-light-1 text-blue-dark-1">123456789</div>
  <div class="bg-green text-blue">123456123</div>
  <div class="bg-green-dark-1 text-blue-light-1">123567689</div>
  <div class="bg-green-dark-3 text-blue-light-3">123567689</div>
  <div class="bg-green-dark-5 text-blue-light-5">123567689</div>
  <div class="bg-green-dark-7 text-blue-light-7">123567789</div>

  <div class="card">
    <div class="card-title">WUS</div>
    <div class="card-body">Ziom Marcin P. chce jechać z tobom cr?</div>
    <button href="#" class="btn-success rounded bordered text-white">
      Jazda
    </button>
    <button href="#" class="btn-fail rounded bordered text-white">
      Lepiej nie
    </button>
  </div>
  <div class="card">
    <div class="card-title">ALBO</div>
    <div class="card-body">
      Totalny koks z twojej okolicy Piotrek K. potrzebuje transportu
      samohodowego cr?
    </div>
    <button href="#" class="btn-success rounded bordered text-black">
      Jazda
    </button>
    <button href="#" class="btn-fail rounded bordered text-black">
      Lepiej nie
    </button>
  </div>
  <div class="card">
    <div class="card-title">PRZEWUS</div>
    <div class="card-body">
      Pani Monika W. nie ma jak sie zabrac z targu do domu z torbami zakupuf cr?
    </div>
    <button href="#" class="btn-success rounded text-white">Jazda</button>
    <button href="#" class="btn-fail rounded text-white">Lepiej nie</button>
  </div>
</body>
