<mat-card class="flex-center-column-container">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-form-field>
    <input
      matInput
      [(ngModel)]="loginForm.email"
      placeholder="Email"
      required
    />
    <button mat-icon-button matSuffix>
      <mat-icon>login</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [type]="hidePassword ? 'password' : 'text'"
      [(ngModel)]="loginForm.password"
      placeholder="Password"
      required
    />
    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
      <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="handleLogin()"
      [hidden]="loading"
      [disabled]="loading"
    >
      Login
    </button>
    <mat-spinner *ngIf="loading" color="accent" diameter="50" strokeWidth="5">
      loading</mat-spinner
    >
  </mat-card-actions>
</mat-card>
