<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
    >
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a routerLink="aboutUs" mat-list-item>About us</a>
            <a *ngIf="isLoggedIn$ | async" routerLink="createRide" mat-list-item>Create Ride</a>
            <a *ngIf="isLoggedIn$ | async" routerLink="yourRides" mat-list-item>Your Rides</a>
            <a *ngIf="isLoggedIn$ | async" routerLink="messages" mat-list-item>Messages</a>
            <a *ngIf="isLoggedIn$ | async" routerLink="profile" mat-list-item>Profile</a>
            <a *ngIf="!(isLoggedIn$ | async)" routerLink="login" mat-list-item>Login</a>
            <a *ngIf="!(isLoggedIn$ | async)" routerLink="registration" mat-list-item>Register</a>
            <a *ngIf="isLoggedIn$ | async" (click)="logout()" mat-list-item>Logout</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async"
            >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Social System For Organizing Rides</span>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
