<mat-card class="flex-center-container">
  <mat-card-header>
    <mat-card-title>Create Ride</mat-card-title>
  </mat-card-header>
  <div class="flex-center-column-container">
    <mat-form-field>
      <mat-label>Choose a starting point</mat-label>
      <input matInput [matDatepicker]="startingPicker" [(ngModel)]="starting_point" (dateChange)="onStartingPointSelected($event)">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="startingPicker"></mat-datepicker-toggle>
      <mat-datepicker #startingPicker></mat-datepicker>
    </mat-form-field>



    <mat-form-field>
      <input
        matInput
        placeholder="departure time"
        [(ngModel)]="departure_time"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Arrival Time"
        [(ngModel)]="arrival_time"
        required
      />
    </mat-form-field>
  </div>
  <div class="flex-center-column-container">
    <mat-form-field>
      <input matInput [(ngModel)]="price" placeholder="price" required />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [(ngModel)]="car_model"
        placeholder="Car Model"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="registration_number"
        placeholder="Registration Number"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="number_of_seats"
        placeholder="Number of seats"
        required
      />
    </mat-form-field>
  </div>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="handleCreateRide()">
      Register
    </button>
  </mat-card-actions>
</mat-card>
