@mixin btn($bg-color: white) {
  margin-right: $base-margin * 0.3;
  cursor: pointer;
  border-radius: 10px;
  font-size: large;
  background-color: $bg-color;
}
@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val);
    &:hover {
      //działa no way
      background-color: lighten($val, 10%);
    }
  }
  .btn-outlined-#{$key} {
    @include btn();
    border: solid $val;
    &:hover {
      background-color: $val;
    }
  }
}

.old-btn {
  border-radius: $border-radius;
  padding: $base-padding;
  width: $base-width * 6;
}

.old-btn:hover {
  cursor: pointer;
  transition: background-color $transition-duration $transition-easing;
  background-color: black;
}

.old-btn-primary {
  margin-right: $base-margin * 0.3;
  cursor: pointer;
  color: rgb(236, 236, 236);
  background-color: $primary;
  border: solid black 3px;
  border-radius: 10px;
  font-size: large;
  &:hover {
    //działa no way
    background-color: black;
  }
}
