@mixin btn($bg-color: white, $border-color: none) {
  margin-right: $base-margin * 0.3;
  padding: $small-padding;
  cursor: pointer;
  font-size: large;
  background-color: $bg-color;
  &.rounded {
    border-radius: $base-border-radius;
  }
  &.bordered {
    border: solid $border-color;
  }
}
@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val, $val);
    &:hover {
      transition-duration: $transition-duration;
      background-color: lighten($val, 30%);
    }
  }
  .btn-outlined-#{$key} {
    @include btn();
    border: solid $val;
    &:hover {
      transition-duration: $transition-duration;
      background-color: $val;
      color: white;
    }
  }
}

////////////////////////////////////////////////////////////////OLD VERSION
.old-btn {
  border-radius: $base-border-radius;
  padding: $base-padding;
  width: $base-width * 6;
}

.old-btn:hover {
  cursor: pointer;
  transition: background-color $transition-duration $transition-easing;
  background-color: black;
}

.old-btn-primary {
  margin-right: $base-margin * 0.3;
  cursor: pointer;
  color: rgb(236, 236, 236);
  background-color: $primary;
  border: solid black 3px;
  border-radius: 10px;
  font-size: large;
  &:hover {
    //działa no way
    background-color: black;
  }
}
