@import "./variables";

.btn {
  border-radius: $border-radius;
  padding: $base-padding;
  width: $base-width * 6;
}

.btn:hover {
  cursor: pointer;
  transition: background-color $transition-duration $transition-easing;
  background-color: $hover-color;
}

.btn-primary {
  margin-right: $base-margin * 0.3;
  cursor: pointer;
  color: $primary;
  background-color: $secondary;
  border: solid 1px;
  border-radius: 10px;
  font-size: large;
  &:hover {
    //działa no way
    background-color: $hover-color;
  }
}
