.a-primary {
  margin: $base-margin * 2;
  color: $secoundary;
  text-decoration: none;
}

.a-primary:hover {
  transition: color $transition-duration $transition-easing;
  color: $hover-color;
}

.a-secoundary {
  margin: $base-margin * 2;
  text-decoration: none;
  padding: $base-padding;
  background-color: $secoundary;
  border-radius: $border-radius;
  width: $base-width * 5;
  color: $primary;
}

.a-secoundary:hover {
  transition: background-color $transition-duration $transition-easing;
  background-color: $hover-color;
}
