.ipt {
  outline: none;
  padding: $base-padding $base-padding * 4;
  border-radius: $border-radius;
  width: 17rem;
}

.ipt-number::-webkit-outer-spin-button,
.ipt-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
