//Genreal
$border-radius: 1rem;
$transition-duration: 0.3s;
$transition-easing: ease-in-out;

//Colors
$primary: #002b53;
$secoundary: #ffffff;
$description: #9a9a9a;

$hover-color: darken($secoundary, 20%);

//Fonts
$base-font-size: 1.25rem;

//Spacing
$base-margin: 1rem;
$base-padding: 1rem;

//Size
$base-width: 2rem;
