//Colors
$primary: #1b4332;
$secondary: #4bb86d;
$success: #4bb86d;
$fail: #c53232;
$info: yellow;
$description: grey;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "fail": $fail,
  "info": $info,
  "blue": blue,
  "green": green,
  "yellow": yellow,
  "red": red,
  "orange": orange,
  "purple": purple,
  "white": white,
  "gray": gray,
  "black": black,
);

//Genreal
$transition-duration: 0.3s;
$transition-easing: ease-in-out;
$base-border-radius: 10px;

//Fonts
$base-font-size: 1.25rem;

//Spacing
$base-margin: 1rem;
$base-padding: 1rem;
$small-padding: 0.2rem;

//Size
$base-width: 2rem;
